<ion-content>
  <div class="header">Uskoro treba da uradite sledece:</div>
  <ion-list>
     <ion-item *ngFor="let item of items">
      {{ item.title }}
     </ion-item>
  </ion-list>
  <button ion-button (click)="close()">Izadji</button>
</ion-content>