<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Todo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Title</ion-label>
      <ion-input [(ngModel)]="title" placeholder="Todo title"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label color="primary" fixed>Date</ion-label>
      <ion-input [(ngModel)]="date" type="date" placeholder="End date"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label color="primary" fixed>Time</ion-label>
      <ion-input [(ngModel)]="time" type="text" placeholder="End time in format hh:mm"></ion-input>
    </ion-item>

    <ion-item>
      <button ion-button (click)="addTodo()">Add Todo</button>
    </ion-item>
  </ion-list>
</ion-content>

